body{
margin: 0;
box-sizing: border-box;
}

.main-container {
  display: flex;
  justify-content: center;
}

.form-wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20%;
  padding: 10px;
  width: 600px;
  border: 3px solid tan;
  background-color: gold;

}

#form-header{
  color: rgb(134, 99, 65);
  border-bottom: 1px solid white;
  margin-bottom: 10px;
 
}

.form-container{
  display: flex;
  flex-direction: column;
  
}

#form-submit{
  width:80px;
  align-self: center;
  margin-top: 6px;
}

label{
  display: flex;
  flex-direction: column;
  text-align: center;
}

#GD-component {
  margin: auto;
  width: 100%;
  background-color: rgb(76, 132, 42);
}