*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


a{
  padding: 1rem;
  color: yellow;
  text-decoration: none;
  border: solid transparent 2px;
}

a:hover{
  border: solid yellow 2px;
}

nav{
  color: yellow;
  padding: 2rem;
  width: 50%;
  margin-left: 25vw;
  display: flex;
  justify-content: center;
  background: rgba(51, 51, 51, 0.468);
box-shadow: 0 8px 32px 0 rgba(255, 217, 0, 0.37);
backdrop-filter: blur( 13.5px );
-webkit-backdrop-filter: blur( 13.5px );
border-radius: 20px;
border: 1px solid rgba(0, 0, 0, 0.18);

}

ul{
  

  display: flex;
  padding-top: 10px;
  font-size: larger;
 
}

li{
  
  padding: 0 1rem;
}

.logo{
  font-size: 30px;
}

@media only screen and (max-width: 1200px){
  li{
    font-size: 18px;
  }
  .logo {
    display: flex;

    font-size: 28px;
  }
  .nav-container {
    margin-top: 10px;
}
}