body{
  margin: 0;
  box-sizing: border-box;
}

.GD-wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  
  background-color: rgb(161, 67, 67);
  border: 2px solid black;
  width: 400px;
  height: 200px;
  margin: 20%;
  padding: 20px;

}
